body {
    background-color:darkcyan;
}


.log {
    background-image: url('https://images.unsplash.com/photo-1521835003244-81948a0552be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    border: 4px solid transparent;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    width: 100%;
}


.log.form  {
    width: 100%;
}




.box {
    padding:5px 10px;
    width: 50%;

    
}



