body {
    background-color:wheat;
    background-repeat: no-repeat;
}


.reg {
    background-image: url('https://images.unsplash.com/photo-1586078875290-c22eb791ad5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    border: 4px solid transparent;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: rgb(112, 3, 3);
    max-width: 500px;
    width: 100%;
    cursor: pointer;
}


.reg.form  {
    width: 100%;
    cursor: pointer;
}




.box {
    padding:5px 10px;
    width: 50%;
    cursor: pointer;
    }

.box2 {
    padding:5px 10px;
    width: 40%;
    cursor: pointer;
    
}

.box1 {
    padding: 5px 0px ;
    width: 26%;
    cursor: pointer;
}

