body {
    background-color: whitesmoke;
    
}

h1 {
    text-align: center;
}

.buttons {
    text-align: center;
     
    
    
}

#b1 {
  width: 250px;
  height: 80px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  
  
  
}

#b1:hover {
  background-color: #4CAF50;
  color: white;
}
  

#b2 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    
    font-size: medium;
    cursor: pointer;
    
     
     
}  

#b2:hover {
    background-color: #4CAF50;
    color: white;
  }

#b3 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}
    

#b3:hover {
    background-color: #4CAF50;
    color: white;
  }

#b4 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    
}

#b4:hover {
    background-color: #4CAF50;
    color: white;
  }

  
    
  

#b5 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;border-radius: 10px;
    font-size: medium;
    cursor: pointer;
   
}

#b5:hover {
    background-color: #4CAF50;
    color: white;
  }

#b6 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    
}

#b6:hover {
    background-color: #4CAF50;
    color: white;
  }


#b7 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    
}

#b7:hover {
    background-color: #4CAF50;
    color: white;

  }



#b8 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}
    

#b8:hover {
    background-color: #4CAF50;
    color: white;
  }

#b9 {
    width: 250px;
    height: 80px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    
}

#b9:hover {
    background-color: #4CAF50;
    color: white;
  }

#b10 {
    width: 250px;
    height: 80px;
    background-color: burlywood;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
} 

#f1{
  width: 75%;
  float: left;
}

#f2{
  width: 30%;
  height: 50%;
  border-radius: 10px;
  font-size: x-large;
  cursor: pointer; 
}



#txtarea {
  min-width: 99%;
  max-width: 99%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop  ;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}